<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Express Web App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/feedback">Feedback</a>
        <a href="/user">User</a>
      </nav>
    </header>